.hero-container{
    background-color: pink;
    display: flex;
    gap: 50%;
}
.hero-text{
  
}
.hero-img{
    width:100px;
    height:100px;
    margin-top: 50px;
}
.hero-image{
    background-color: orangered;
    border-radius: 50%;
    width: 900px;
    height: 900px;
   
}

