.hero-container{
    background-color: rgb(243, 210, 181);
    display: flex;
    gap: 20%;
    justify-content: space-evenly;
}
.hero-text{
  margin-top: 250px;
  
}
.hero-img{
    width:500px;
    height:500px;
    margin-top: 50px;
    transform: rotate(35deg);
    filter: drop-shadow(-50px 50px 50px black);
    

}

 .hero-image{
    background-color: orangered;
    border-radius: 50%;
    width: 700px;
    height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;

   
}

